body {
  width: 90%;
  max-width: 960px;
  margin: 30px auto;
}

.col-1-5 {
  display: inline-block;
  width: 20%;
}

.input-text {
  input {
    padding: 15px 5px;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    border: 0;
    border-bottom: 1px dotted black;
    outline: 0;
  }
}

.stats-container {
  position: fixed;
  width: 100%;
  bottom: 15px;

  .counter {
    text-align: center;
  }
}

