body {
  width: 90%;
  max-width: 960px;
  margin: 30px auto;
}

.col-1-5 {
  display: inline-block;
  width: 20%;
}
.col-1-4 {
  display: inline-block;
  width: 25%;
}



// Modules
@import 'modules/inputComponent';
@import 'modules/resultContainerComponent';
@import 'modules/statsContainerComponent';
