// Input Component
.input-text {
  textarea {
    /*border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 0 #DDDDDD;
    display: block;
    font-size: 13px;
    line-height: 22px;
    margin: 2% auto;
    padding: 4px 22px 4px 22px;
    outline: 0;
    box-sizing: border-box;
    resize: none;
    height: 300px;
    width: 100%;
    
    background-image: -moz-linear-gradient(top , transparent, transparent 21px,#E7EFF8 0px); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 21px,#E7EFF8 0);
    
    -webkit-background-size:  100% 22px;
    background-size: 100% 22px;*/
  }
}
