// Results Container Component
.results {
  .result-tabs {
    margin-bottom: 15px;
  }

  .result-tabs .result-tabs--tab {
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  .result-tabs .result-tabs--tab:hover,
  .result-tabs .result-tabs--tab.active {
    background-color: #d8d8d8;
  }

    
}
