.stats-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background-color: white;
  box-shadow: -3px -3px 24px 0px #000;

  .label {
    display: inline-block;
    width: 90px;
  }
}
